@page "{id:int}"
@model EditModel
@{
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}

<h1>Edition</h1>

<div>
    <form class="" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="ParameterToEdit.ID" />
        <input type="hidden" asp-for="ParameterToEdit.ParameterKey" />
        <input type="hidden" asp-for="ParameterToEdit.ParameterName" />


        <div class="form-group">
            <label>@Html.DisplayFor(model => model.ParameterToEdit.ParameterKey)</label>
        </div>

        <div class="form-group">
            <label asp-for="ParameterToEdit.ParameterValue" class="control-label"></label>
            <textarea asp-for="ParameterToEdit.ParameterValue" class="form-control"></textarea>
            <span asp-validation-for="ParameterToEdit.ParameterValue" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Sauvegarder" class="btn btn-default"></button>
        </div>
    </form>
</div>